a{
    color: white;
    text-decoration: none;
}
#cabecalho{
    background-color: #87CEFA;
    width: 100%;
    height: 14vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#imgLogo{
 width: 100%;
 height: 100%;
}
#textos_do_meio{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 23px;
    color: white;
    align-items: center;
}
#RemediosJa{
    color: white;
    font-size: 30px;
}
#ParteFinalCabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ParteRedonda{
    background-color: white;
    border-radius: 30px;
    width: 8em;
    height: 8.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
}
#tresListras{
    margin-left: 26px;
}




















































































































