#divGeral{
    margin: 0 auto;
    width: 70vw;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.mb-3{
    display: flex;
    height: 40px;
    gap: 15px;
}
.mb-4{
    gap: 15px;
    width: 70%;
    display: flex;
}
#sexo{
    width: 50%;
}
#linha2{
    width: 100%;
    display: flex;
}

#exampleFormControlInput2{
    width: 50%;
}

.form-control{
    width: 100%;
}
#selectInputs{
    gap: 15px;
    display: flex;
    margin-bottom: 15px;
}